@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600&display=swap");

:root {
    --modal-background: linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.012) 100%);
    --modal-background-selected: linear-gradient(0deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.012) 100%);
    --primary: #d81650;
    --white: #fff;
    --white-transparent: rgba(255, 255, 255, 0.75);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url("assets/images/background.png");
    backdrop-filter: blur(5px);
}

* {
    outline: none;
    list-style: none;
    user-select: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

#actionmenuNavShop {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(72.12deg, rgba(216, 22, 80, 0.45) -289.88%, rgba(100, 52, 66, 0) 100%);
}

mainNavShop {
    width: 57vw;
    height: 100%;
    border: 1ps solid var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

mainNavShop .title {
    color: #fff;
    filter: drop-shadow(0px 0px 10px #000000);
    font-weight: 600;
    white-space: nowrap;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-text {
    font-size: 20px;
}

mainNavShop .title small {
    opacity: 0.5;
    font-weight: 300;
}

mainNavShop .title small h1 {
    opacity: 0.5;
    font-weight: 600;
}

mainNavShop #menu {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 10px;
    padding: 20px;
    background: var(--modal-background);
}

mainNavShop #menu header {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);

    /* margin-top: 80%; */
    /* margin-left: -3%; */
}

#toCart,
#toShop {
    background: var(--primary);
    opacity: 0.85;
    cursor: pointer;
}

#search {
    background: var(--modal-background);
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 6px;
    display: flex;
    gap: 1rem;
}

#search-text {
    background: transparent;
    border: none;
    color: var(--white-transparent);
    outline: none;
}

#search:hover {
    background: var(--modal-background-selected);
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(216, 22, 80, 0.15) 0%, rgba(216, 22, 80, 0.0795) 100%);
    border: 1px solid rgba(216, 22, 80, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.close:hover {
    background: linear-gradient(0deg, rgba(216, 22, 80, 0.15) 0%, rgba(216, 22, 80, 0.199) 100%);
}

/* mainNavShop #menu header .item#menu {
    width: 100px;
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    transition: all .3s;
    border-radius: 6px;
    justify-content: center;
    font-weight: 900;
    /* background-color: #212121; 
} 
*/

.itemMenu {
    border-radius: 6px;
    text-transform: uppercase;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    height: 3rem;
    padding: 0 1rem;
}

mainNavShop #menu header .itemMenu:hover {
    opacity: 1;
}

mainNavShop #menu header .item#menu img {
    max-width: 50%;
}

.display,
.menu-options {
    width: 50%;
    display: flex;
    gap: 2rem;
}

.menu-options {
    justify-content: flex-end;
}

/* mainNavShop #menu section {
    position: relative;
    height: 100px;
    overflow: auto;
    padding-left: 5px;
} */

/* mainNavShop #menu section .active {
    /* opacity: 1; */
/* background-color: var(--primary); 
    
} */

mainNavShop #menu section .active::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(86.63deg, rgba(0, 0, 0, 0.64) 0%, rgba(0, 117, 222, 0) 129.98%);
}

mainNavShop #menu section .active .overlay {
    position: absolute;
    left: 50px;
    z-index: 101;
    color: #fff;
    display: block;
    font-size: 12px;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 30px;
    letter-spacing: 1px;
    transition: all 0.3s;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.811);
}

mainNavShop #menu section .active .overlay:hover {
    color: #000;
    background-color: #fff;
}

mainNavShop #menu section .itemNav .overlay {
    display: none;
}

mainNavShop #menu section .itemNav {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 2rem;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: all 0.4s ease-in-out;
    align-items: center;
    width: 23%;
    height: 50%;
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 8px;
}

mainNavShop #menu section .itemNav:hover {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* mainNavShop #menu section .itemNav img {
    position: absolute;
} */

mainNavShop #menu section .active img {
    filter: blur(5px);
}

mainNavShop #menu section .itemNav .item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

mainNavShop #menu section .itemNav .item-info {
    padding: 0 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* right: 90px;
    color: #ffff;
    font-size: .6vw;
    font-weight: 300;
    text-align: center;
    font-family: 'black'; */
    /* letter-spacing: 1px; */
    text-transform: uppercase;
}

mainNavShop #menu section .itemNav .item-info small {
    font-size: 1.2vw;
    font-family: "black";
}

.item-weight {
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 2.5rem;
    background: var(--primary);
    border-radius: 8px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    align-self: flex-start;
}

.item-name {
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.item-value {
    font-family: "Outfit";
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.65);
}

.item-description {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.55);
}

.button-buy {
    margin-left: 0.5rem;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--white-transparent);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    padding: 10px;
    align-self: flex-start;
    cursor: pointer;
}

.button-buy:hover {
    background: rgba(255, 255, 255, 0.1);
}

.itemNav span {
    color: var(--primary);
}

.listagemNavShop {
    width: 100%;
    border-radius: 0.5vw;
    padding: 5px;
    height: 85%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

#cart {
    width: 100%;
    border-radius: 0.5vw;
    padding: 5px;
    height: 85%;
    overflow: auto;
    display: flex;
    gap: 1rem;
    gap: 2%;
    overflow: auto;
    /* display: none; */
}

.cart-left {
    width: 70%;
    height: 100%;
    overflow: auto;
}

.cart-right {
    width: 30%;
    height: 100%;
}

.cart-left,
.cart-right {
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 8px;
    padding: 1rem;
}

.cart-title {
    display: flex;
    gap: 0.25rem;
}

.cart-title-text {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    display: flex;
    align-items: center;
    color: #ffffff;
    text-transform: uppercase;
}

.cart-left-items {
    max-height: 100%;
    overflow: auto;
}

.cart-left-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
    margin-top: 1rem;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 6px;
    padding: 1rem;
    height: 5rem;
}

.cart-left-item-info {
    width: 30%;
}

.cart-left-item-name {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: white;
}

.cart-left-item-weight,
.cart-left-item-info {
    font-family: "Outfit";
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.cart-left-item-weight-text,
.cart-left-item-description {
    color: rgba(255, 255, 255, 0.65);
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    width: 100%;
}

.cart-left-item-weight-value {
    width: 15%;
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.cart-left-item-weight {
    width: 8%;
}

.cart-left-item-quantity-input {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    justify-content: center;
}

.cart-item-img {
    width: 4rem;
    height: 4rem;
}
.cart-left-item-quantity-input-value {
    width: 3rem;
    padding: 4px;
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.cart-left-item-info {
    width: 25%;
}

.cart-left-item-total {
    width: 15%;
}

.cart-left-item-quantity-input-plus,
.cart-left-item-quantity-input-minus {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cart-left-item-total-value {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: right;

    color: #ffffff;
}

.cart-left-item-remove {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cart-left-items-empty {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: white;
    line-height: 18px;
    position: absolute;
    padding: 2rem 0;
}

.payment-methods {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.method {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.01);
    border-radius: 6px;
    cursor: pointer;
}

.method-active {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0) 100%),
        rgba(255, 255, 255, 0.03);
}

.method-selected {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.payment-finish {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1.5rem;
}

.payment-finish .text {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.55);
}

.payment-finish .value {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    color: white;
}

.payment-buy {
    background: linear-gradient(90deg, #d81650 0%, rgba(216, 22, 80, 0.51) 100%);
    border: 1px solid #d81650;
    border-radius: 5px;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    padding: 1rem 0;
    cursor: pointer;
}

.payment-buy:hover {
    background: linear-gradient(90deg, #d81650 0%, rgba(216, 22, 80, 0.6) 100%);
}

.discount-vip,
.total-value {
    display: flex;
    justify-content: space-between;
}

.qtt {
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 4px;
}

.mouse {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--primary);
    font-weight: 500;
    animation: bounce 2s infinite alternate;
}

mainNavShop ::-webkit-scrollbar {
    width: 1px;
}

@media (max-width: 1260px) {
    mainNavShop {
        width: 70vw;
    }

    .display {
        width: 30%;
    }

    .menu-options {
        width: 70%;
    }
    input {
        width: 10rem;
    }
    mainNavShop #menu section .itemNav {
        width: 40%;
    }
}

@media (max-width: 1000px) {
    .display {
        display: none;
    }

    .menu-options {
        width: 100%;
    }
    mainNavShop {
        width: 95vw;
    }

    .listagemNavShop {
        width: 100%;
        border-radius: 0.5vw;
        padding: 5px;
        height: 85%;
        overflow: auto;
        flex-wrap: wrap;
        gap: 2%;
    }

    input {
        width: 5rem;
    }

    #cart {
        flex-direction: column;
    }

    .cart-left,
    .cart-right {
        width: 100%;
    }

    mainNavShop #menu section {
        justify-content: center;
    }

    mainNavShop #menu section .itemNav {
        width: 40%;
    }
}

@media (max-width: 566px) {
    mainNavShop #menu section .itemNav {
        width: 50%;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}
